<!--cargo.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
</head>

<body>
    <div id="sidebar">
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            Página Inicial
        </a>
        <a href="hospital.html">
            <i class="fa-solid fa-building"></i>
            Hospitais
        </a>
        <a href="enfermaria.html">
            <i class="fa-solid fa-house-medical"></i>
            Enfermarias
        </a>
        <a href="funcionario.html">
            <i class="fa-solid fa-user-doctor"></i>
            Funcionários
        </a>
        <a href="cargo.html" class="sidebar-link">
            <i class="fa-solid fa-briefcase"></i>
            Cargos
        </a>
        <a href="paciente.html">
            <i class="fa-solid fa-address-card"></i>
            Pacientes
        </a>
    </div>
    <div id="content">
        <table width="100%" margin=15px;>
            <tr>
                <td class="secao">
                    Cargo
                </td>
            </tr>
        </table>

        <div class="container-barra-inicial">
            <div class="barra-inicial">
                <button type="button" onclick="limparCampos()" title="Novo">
                    <i class="fa-solid fa-folder-plus custom-icon" style="color: #0d54a0;"></i>
                </button>
                <button type="button" id="openButton" title="Abrir">
                    <i class="fa-regular fa-folder-open custom-icon" style="color: #bdbf3f;"></i>
                </button>

                <button type="button" onclick="insertHospitalData()" title="Gravar">
                    <i class="fa-solid fa-folder custom-icon" style="color: #3fc45a;"></i>
                </button>
            </div>
        </div>

        <fieldset>
            <legend style="color: #325D82;">Cadastro Cargo</legend>
            <form id="cargoForm">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="NRCGO" class="titulo">Número do Cargo</label>
                            </td>
                            <td>
                                <label for="DCCGO" class="titulo">Descrição do cargo</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="campo">
                                <input type="text" id="NRCGO" name="NRCGO" required maxlength="3" size="12"
                                    class="texto" title="Informe o Número do Cargo"><br>

                            </td>
                            <td class="campo">
                                <input type="text" id="DCCGO" name="DCCGO" required maxlength="50" size="45"
                                    class="texto" title="Informe a Descrição do Cargo"><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="AUUSUULTALT" class="titulo">Usuário</label>
                            </td>
                            <td>
                                <label for="DCHOS" class="titulo">Data de Alteração</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="campo">
                                <input type="text" id="AUUSUULTALT" name="AUUSUULTALT" required maxlength="30" size="10"
                                    class="texto" title="Informe o Usuário"><br>

                            </td>
                            <td class="campo">
                                <input type="datetime-local" id="AUDATULTALT" name="AUDATULTALT" required maxlength="5"
                                    size="50" class="texto" title="Informe a Data de Alteração"><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </fieldset>

        <script>
            async function insertCargoData() {
                const NRCGO = document.getElementById('NRCGO').value;
                const DCCGO = document.getElementById('DCCGO').value;
                const AUUSUULTALT = document.getElementById('AUUSUULTALT').value;
                const AUDATULTALT = document.getElementById('AUDATULTALT').value;

                const response = await fetch('/insert_cargo', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ NRCGO, DCCGO, AUUSUULTALT, AUDATULTALT })
                });

                const result = await response.json();
                console.log(result);
            }
        </script>
        <script>
            function limparCampos() {
                document.getElementById('NRCGO').value = '';
                document.getElementById('DCCGO').value = '';
                document.getElementById('AUUSUULTALT').value = '';
                document.getElementById('AUDATULTALT').value = '';
            }
        </script>
    </div>
</body>

</html>