<!--enfermaria.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermarias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
</head> 
<style>
    #resultadoForm {
        display: none;
    }
</style>

<body>
    <div id="sidebar">
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            Página Inicial
        </a>
        <a href="hospital.html">
            <i class="fa-solid fa-building"></i>
            Hospitais
        </a>
        <a href="enfermaria.html" class="sidebar-link">
            <i class="fa-solid fa-house-medical"></i>
            Enfermarias
        </a>
        <a href="funcionario.html">
            <i class="fa-solid fa-user-doctor"></i>
            Funcionários
        </a>
        <a href="cargo.html">
            <i class="fa-solid fa-briefcase"></i>
            Cargos
        </a>
        <a href="paciente.html">
            <i class="fa-solid fa-address-card"></i>
            Pacientes
        </a>
    </div>

    <div id="content">
        <table width="100%" margin=15px;>
            <tr>
                <td class="secao">
                    Enfermaria
                </td>
            </tr>
        </table>
        <div class="container-barra-inicial">
            <div class="barra-inicial">
                <button type="button" onclick="limparCampos()">
                    <i class="fa-solid fa-folder-plus custom-icon" style="color: #0d54a0;" title="Novo"></i>
                </button>
                <button type="button" id="excluirButton" onclick="excluirEnfermaria()">
                    <i class="fa-solid fa-folder-minus custom-icon" style="color: #c25b32;" title="Excluir"></i>
                </button>

                <button type="button" id="pesquisarButton" onclick="mostrarFormulario()">
                    <i class="fa-solid fa-magnifying-glass custom-icon" title="Pesquisar"></i>
                </button>
                <button type="button" onclick="updateEnfermariaData()" title="Gravar">
                    <i class="fa-solid fa-folder custom-icon" style="color: #3fc45a;"></i>
                </button>
            </div>
        </div>


        <form id="enfermariaForm">
            <fieldset>
                <legend style="color: #325D82;">Busca Enfermaria</legend>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="CDENF" class="titulo">Código da Enfermaria</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <select id="CDENF" name="CDENF" class="texto"
                                        title="Selecione o Código da Enfermaria"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>

        <form id="resultadoForm">
            <fieldset>
                <legend style="color: #325D82;">Resultado</legend>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="IDHOS" class="titulo">Identificador do Hospital</label>
                                </td>
                                <td>
                                    <label for="CDHOS" class="titulo">Código do Hospital</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="IDHOS" name="IDHOS" required maxlength="3" size="18"
                                        class="texto" title="Informe o Identificador"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="CDHOS" name="CDHOS" required maxlength="3" size="13"
                                        class="texto" title="Informe o Código do Hospital"><br>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="DCBLO" class="titulo">Bloco</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="DCBLO" name="DCBLO" required maxlength="1" size="1"
                                        class="texto" title="Informe o Bloco"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="AUUSUULTALT" class="titulo">Usuário</label>
                                </td>
                                <td>
                                    <label for="AUDATULTALT" class="titulo">Data de Alteração</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="AUUSUULTALT" name="AUUSUULTALT" required maxlength="30"
                                        size="15" class="texto" title="Usuário" readonly><br>
                                </td>
                                <td class="campo">
                                    <input type="datetime" id="AUDATULTALT" name="AUDATULTALT" required class="texto"
                                        title="Data de Alteração" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </fieldset>

            <script>
                function limparCampos() {
                    document.getElementById('CDENF').value = '';
                    document.getElementById('IDHOS').value = '';
                    document.getElementById('CDHOS').value = '';
                    document.getElementById('DCBLO').value = '';
                    document.getElementById('AUUSUULTALT').value = '';
                    document.getElementById('AUDATULTALT').value = '';
                }
            </script>

            <script>
                function excluirEnfermaria() {
                    const selectedEnfermariaCode = document.getElementById('CDENF').value;

                    if (!selectedEnfermariaCode) {
                        alert('Por favor, selecione uma enfermaria antes de excluir.');
                        return;
                    }

                    const confirmation = confirm('Tem certeza que deseja excluir esta enfermaria?');

                    if (confirmation) {
                        fetch(`/api/delete_enfermaria/${selectedEnfermariaCode}`, {
                            method: 'DELETE',
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Erro na requisição: ' + response.statusText);
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    alert('Enfermaria excluída com sucesso!');
                                    limparCampos();
                                } else {
                                    alert('Erro ao excluir enfermaria. Por favor, tente novamente.');
                                }
                            })
                            .catch(error => console.error('Erro na requisição:', error));
                    }
                }
            </script>

            <script>

                async function populateEnfermariaSelect() {
                    const selectElement = document.getElementById('CDENF');

                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.text = '<Selecione o Código da Enfermaria>';
                    selectElement.add(defaultOption);

                    const response = await fetch('/api/enfermarias');
                    const { success, enfermarias } = await response.json();

                    if (success) {
                        enfermarias.forEach(enfermaria => {
                            const option = document.createElement('option');
                            option.value = enfermaria.CDENF;
                            option.text = `${enfermaria.CDENF}`;
                            selectElement.add(option);
                        });

                        document.getElementById('pesquisarButton').addEventListener('click', () => {
                            const selectedEnfermaria = enfermarias.find(enfermaria => enfermaria.CDENF === selectElement.value);

                            document.getElementById('IDHOS').value = selectedEnfermaria.IDHOS || '';
                            document.getElementById('CDHOS').value = selectedEnfermaria.CDHOS || '';
                            document.getElementById('DCBLO').value = selectedEnfermaria.DCBLO || '';
                            document.getElementById('AUUSUULTALT').value = selectedEnfermaria.AUUSUULTALT;

                            const dataFormatada = formatarData(selectedEnfermaria.AUDATULTALT);
                            document.getElementById('AUDATULTALT').value = dataFormatada;
                        });
                    } else {
                        console.error('Erro ao obter enfermarias do servidor');
                    }
                }
                function formatarData(dataString) {
                    const data = new Date(dataString);
                    const dia = ('0' + data.getDate()).slice(-2);
                    const mes = ('0' + (data.getMonth() + 1)).slice(-2);
                    const ano = data.getFullYear();

                    return `${dia}/${mes}/${ano}`;
                }

                window.onload = populateEnfermariaSelect;
                function mostrarFormulario() {
                    const enfermariaForm = document.getElementById('enfermariaForm');
                    const resultadoForm = document.getElementById('resultadoForm');

                    if (enfermariaForm.style.display !== 'none') {

                        resultadoForm.style.display = 'block';
                    }
                }
            </script>            
            <script>
                async function updateEnfermariaData() {
                        
                        const selectedEnfermariaCode = document.getElementById('CDENF').value;
                        
                        if (!selectedEnfermariaCode) {
                            alert('Por favor, selecione uma enfermaria antes de gravar.');
                            return;
                        }

                        const data = {
                            CDENF: selectedEnfermariaCode,
                            IDHOS: document.getElementById('IDHOS').value,
                            CDHOS: document.getElementById('CDHOS').value,
                            DCBLO: document.getElementById('DCBLO').value,
                            AUUSUULTALT: document.getElementById('AUUSUULTALT').value,
                            AUDATULTALT: formatarDataParaEnvio(document.getElementById('AUDATULTALT').value),
                        };

                        const confirmation = confirm('Tem certeza que deseja atualizar esta enfermaria?');

                        function formatarDataParaEnvio(dataString) {
                        const partes = dataString.split('/');
                            if (partes.length === 3) {
                                const [dia, mes, ano] = partes;
                                return `${ano}-${mes}-${dia}`;
                            }
                            return dataString;
                        }

                        if (confirmation) {
                        try {
                            const response = await fetch('/api/update_enfermaria', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                            });

                            if (!response.ok) {
                                throw new Error('Erro na requisição: ' + response.statusText);
                            }

                            const result = await response.json();

                            if (result.success) {
                                alert('Hospital atualizado com sucesso!');
                            } else {
                                alert('Erro ao atualizar hospital. Por favor, tente novamente.');
                            }
                        } catch (error) {
                            console.error('Erro na requisição:', error);
                        }
                    }
                }
            </script>
        </form>
    </div>
</body>

</html>