<!--estadoCivil.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado Civil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
</head>

<body>
    <div id="sidebar">
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            Pagina Inicial
        </a>
        <a href="hospital.html">
            <i class="fa-solid fa-building"></i>
            Hospitais
        </a>
        <a href="enfermaria.html">
            <i class="fa-solid fa-house-medical"></i>
            Enfermarias
        </a>
        <a href="funcionario.html">
            <i class="fa-solid fa-user-doctor"></i>
            Funcionários
        </a>
        <a href="cargo.html">
            <i class="fa-solid fa-briefcase"></i>
            Cargos
        </a>
        <a href="paciente.html">
            <i class="fa-solid fa-address-card"></i>
            Pacientes
        </a>
        <a href="acompanhante.html">
            <i class="fa-solid fa-hospital-user"></i>
            Acompanhantes
        </a>
        <a href="estadoCivil.html" class="sidebar-link">
            <i class="fa-solid fa-person"></i>
            Estado Civil
        </a>
    </div>

    <div id="content">
        <h1>Estado Civil</h1>

        <form id="estadoCivilForm">
            <label for="CDESTCIV">CDESTCIV:</label>
            <input type="text" id="CDESTCIV" name="CDESTCIV" required><br>

            <label for="DCESTCIV">DCESTCIV:</label>
            <input type="text" id="DCESTCIV" name="DCESTCIV" required><br>

            <label for="AUUSUULTALT">AUUSUULTALT:</label>
            <input type="text" id="AUUSUULTALT" name="AUUSUULTALT" required><br>

            <label for="AUDATULTALT">AUDATULTALT:</label>
            <input type="datetime-local" id="AUDATULTALT" name="AUDATULTALT" required><br>

            <button type="button" onclick="insertEstadoCivilData()">Inserir Dados</button>
        </form>

        <script>
            async function insertEstadoCivilData() {
                const CDESTCIV = document.getElementById('CDESTCIV').value;
                const DCESTCIV = document.getElementById('DCESTCIV').value;
                const AUUSUULTALT = document.getElementById('AUUSUULTALT').value;
                const AUDATULTALT = document.getElementById('AUDATULTALT').value;

                const response = await fetch('/insert_estadocivil', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ CDESTCIV, DCESTCIV, AUUSUULTALT, AUDATULTALT })
                });

                const result = await response.json();
                console.log(result);
            }
        </script>
    </div>
</body>

</html>