<!--funcionario.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
    
</head>

<body>

    <div id="sidebar">
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            Página Inicial
        </a>
        <a href="hospital.html">
            <i class="fa-solid fa-building"></i>
            Hospitais
        </a>
        <a href="enfermaria.html">
            <i class="fa-solid fa-house-medical"></i>
            Enfermarias
        </a>
        <a href="funcionario.html" class="sidebar-link">
            <i class="fa-solid fa-user-doctor"></i>
            Funcionários
        </a>
        <a href="cargo.html">
            <i class="fa-solid fa-briefcase"></i>
            Cargos
        </a>
        <a href="paciente.html">
            <i class="fa-solid fa-address-card"></i>
            Pacientes
        </a>
    </div>

    <div id="content">
         <fieldset>
            <legend>Cadastro Funcionário</legend>
            <div class="divisao">
                <form id="funcionarioForm">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="IDHOS" class="titulo">Identificador do Hospital</label>
                                </td>
                                <td>
                                    <label for="CDHOS" class="titulo">Código do Hospital</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="IDHOS" name="IDHOS" required maxlength="3" size="18"
                                        class="texto" title="Informe o Identificador"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="CDHOS" name="CDHOS" required maxlength="3" size="13"
                                        class="texto" title="Informe o Código do Hospital"><br>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRISC" class="titulo">Número de Inscrição</label>
                                </td>
                                <td>
                                    <label for="NMFCO" class="titulo">Nome do Funcionário</label>
                                </td>
                                <td>
                                    <label for="DTNSCFCO" class="titulo">Data de Nascimento</label>
                                </td>
                                <td>
                                    <label for="TPSEXFCO" class="titulo">Sexo</label>
                                </td>
                                <td>
                                    <label for="NRCPFFCO" class="titulo">CPF</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRISC" name="NRISC" required maxlength="9" size="15"
                                        class="texto" title="Informe a Inscrição"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="NMFCO" name="NMFCO" required maxlength="75" size="60"
                                        class="texto" title="Informe o Nome do Funcionário"><br>

                                </td>
                                <td class="campo">
                                    <input type="datetime-local" id="DTNSCFCO" name="DTNSCFCO" required 
                                    class="texto" title="Informe a Data de Nascimento"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="TPSEXFCO" name="TPSEXFCO" required maxlength="1" size="1"
                                        class="texto" title="Informe o Sexo"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="NRCPFFCO" name="NRCPFFCO" required maxlength="14" size="14" 
                                    OnKeyPress="formatar('###.###.###-##',this)"
                                    class="texto" title="Informe o CPF" OnKeyPress="formatar('(##) ###.###.###-##',this)"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="DTISCFCO" class="titulo">Data da Inscrição</label>
                                </td>
                                <td>
                                    <label for="NRCGO" class="titulo">Número do Cargo</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="datetime-local" id="DTISCFCO" name="DTISCFCO" required 
                                    class="texto" title="Informe a Data da Inscrição"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="NRCGO" name="NRCGO" required maxlength="5" size="13"
                                    class="texto" title="Informe o Número do Cargo"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRLOGFCO" class="titulo">Número</label>
                                </td>
                                <td>
                                    <label for="DCLOGFCO" class="titulo">Logradouro</label>
                                </td>
                                <td>
                                    <label for="NRCEPFCO" class="titulo">CEP</label>
                                </td>
                                <td>
                                    <label for="DCBAIFCO" class="titulo">Bairro</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRLOGFCO" name="NRLOGFCO" required maxlength="5" size="3"
                                        class="texto" title="Informe o Número"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="DCLOGFCO" name="DCLOGFCO" required maxlength="60" size="50"
                                        class="texto" title="Informe o Logradouro"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="NRCEPFCO" name="NRCEPFCO" required maxlength="8" size="8"
                                        class="texto" title="Informe o CEP"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="DCBAIFCO" name="DCBAIFCO" required maxlength="60" size="30"
                                        class="texto" title="Informe o Bairro"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="CDPSIFCO" class="titulo">País</label>
                                </td>
                                <td>
                                    <label for="SGUFSFCO" class="titulo">UF</label>
                                </td>
                                <td>
                                    <label for="DCCIDFCO" class="titulo">Cidade</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <select id="CDPSIFCO" name="CDPSIFCO" class="texto">
                                        <option value="">[Selecione...]</option>
                                        <option value="AD">AD - Andorra</option>
                                        <option value="AE">AE - Emirados Árabes Unidos</option>
                                        <option value="AF">AF - Afeganistão</option>
                                        <option value="AG">AG - Antígua e Barbuda</option>
                                        <option value="AI">AI - Anguilla</option>
                                        <option value="AL">AL - Albânia</option>
                                        <option value="AM">AM - Armênia</option>
                                        <option value="AN">AN - Antilhas Holandesas</option>
                                        <option value="AO">AO - Angola</option>
                                        <option value="AQ">AQ - Antártida</option>
                                        <option value="AR">AR - Argentina</option>
                                        <option value="AS">AS - Samoa Americana</option>
                                        <option value="AT">AT - Áustria</option>
                                        <option value="AU">AU - Austrália</option>
                                        <option value="AW">AW - Aruba</option>
                                        <option value="AX">AX - Ilhas Aland</option>
                                        <option value="AZ">AZ - Azerbaijão</option>
                                        <option value="BA">BA - Bósnia-Herzegóvina</option>
                                        <option value="BB">BB - Barbados</option>
                                        <option value="BD">BD - Bangladesh</option>
                                        <option value="BE">BE - Bélgica</option>
                                        <option value="BF">BF - Burkina Fasso</option>
                                        <option value="BG">BG - Bulgária</option>
                                        <option value="BH">BH - Bahrein</option>
                                        <option value="BI">BI - Burundi</option>
                                        <option value="BJ">BJ - Benin</option>
                                        <option value="BL">BL - São Bartolomeu</option>
                                        <option value="BM">BM - Bermudas</option>
                                        <option value="BN">BN - Brunei</option>
                                        <option value="BO">BO - Bolívia</option>
                                        <option value="BR">BR - Brasil</option>
                                        <option value="BS">BS - Bahamas</option>
                                        <option value="BT">BT - Butão</option>
                                        <option value="BV">BV - Ilha Bouvet (Território da Noruega)</option>
                                        <option value="BW">BW - Botsuana</option>
                                        <option value="BY">BY - Belarus</option>
                                        <option value="BZ">BZ - Belize</option>
                                        <option value="CA">CA - Canadá</option>
                                        <option value="CC">CC - Ilhas Cocos</option>
                                        <option value="CD">CD - República Democrática do Congo (ex-Zaire)</option>
                                        <option value="CF">CF - República Centro-Africana</option>
                                        <option value="CG">CG - Congo</option>
                                        <option value="CH">CH - Suíça</option>
                                        <option value="CI">CI - Costa do Marfim</option>
                                        <option value="CK">CK - Ilhas Cook</option>
                                        <option value="CL">CL - Chile</option>
                                        <option value="CM">CM - Camarões</option>
                                        <option value="CN">CN - China</option>
                                        <option value="CO">CO - Colômbia</option>
                                        <option value="CR">CR - Costa Rica</option>
                                        <option value="CU">CU - Cuba</option>
                                        <option value="CV">CV - Cabo Verde</option>
                                        <option value="CX">CX - Ilha Natal</option>
                                        <option value="CY">CY - Chipre</option>
                                        <option value="CZ">CZ - República Tcheca</option>
                                        <option value="DE">DE - Alemanha</option>
                                        <option value="DJ">DJ - Djibuti</option>
                                        <option value="DK">DK - Dinamarca</option>
                                        <option value="DM">DM - Dominica</option>
                                        <option value="DO">DO - República Dominicana</option>
                                        <option value="DZ">DZ - Argélia</option>
                                        <option value="EC">EC - Equador</option>
                                        <option value="EE">EE - Estônia</option>
                                        <option value="EG">EG - Egito</option>
                                        <option value="EH">EH - Saara Ocidental (Ex-Spanish Sahara)</option>
                                        <option value="ER">ER - Eritréia</option>
                                        <option value="ES">ES - Espanha</option>
                                        <option value="ET">ET - Etiópia</option>
                                        <option value="FI">FI - Finlândia</option>
                                        <option value="FJ">FJ - Fiji</option>
                                        <option value="FK">FK - Ilhas Falkland (Malvinas)</option>
                                        <option value="FM">FM - Micronésia</option>
                                        <option value="FO">FO - Ilhas Faroes</option>
                                        <option value="FR">FR - França</option>
                                        <option value="GA">GA - Gabão</option>
                                        <option value="GB">GB - Grã-Bretanha (Reino Unido, UK)</option>
                                        <option value="GD">GD - Granada</option>
                                        <option value="GE">GE - Geórgia</option>
                                        <option value="GF">GF - Guiana Francesa</option>
                                        <option value="GG">GG - Guernsey</option>
                                        <option value="GH">GH - Gana</option>
                                        <option value="GI">GI - Gibraltar</option>
                                        <option value="GL">GL - Groelândia</option>
                                        <option value="GM">GM - Gâmbia</option>
                                        <option value="GN">GN - Guiné</option>
                                        <option value="GP">GP - Guadalupe</option>
                                        <option value="GQ">GQ - Guiné Equatorial</option>
                                        <option value="GR">GR - Grécia</option>
                                        <option value="GS">GS - Ilhas Geórgia do Sul e Sandwich do Sul</option>
                                        <option value="GT">GT - Guatemala</option>
                                        <option value="GU">GU - Guam (Território dos Estados Unidos)</option>
                                        <option value="GW">GW - Guiné-Bissau</option>
                                        <option value="GY">GY - Guiana</option>
                                        <option value="HK">HK - Hong Kong</option>
                                        <option value="HM">HM - Ilhas Heard e McDonald (Território da Austrália)</option>
                                        <option value="HN">HN - Honduras</option>
                                        <option value="HR">HR - Croácia (Hrvatska)</option>
                                        <option value="HT">HT - Haiti</option>
                                        <option value="HU">HU - Hungria</option>
                                        <option value="ID">ID - Indonésia</option>
                                        <option value="IE">IE - Irlanda</option>
                                        <option value="IL">IL - Israel</option>
                                        <option value="IM">IM - Ilha do Homem</option>
                                        <option value="IN">IN - Índia</option>
                                        <option value="IO">IO - Território Britânico do Oceano índico</option>
                                        <option value="IQ">IQ - Iraque</option>
                                        <option value="IR">IR - Irã</option>
                                        <option value="IS">IS - Islândia</option>
                                        <option value="IT">IT - Itália</option>
                                        <option value="JE">JE - Jersey</option>
                                        <option value="JM">JM - Jamaica</option>
                                        <option value="JO">JO - Jordânia</option>
                                        <option value="JP">JP - Japão</option>
                                        <option value="KE">KE - Kênia</option>
                                        <option value="KG">KG - Kyrgyzstan</option>
                                        <option value="KH">KH - Camboja</option>
                                        <option value="KI">KI - Kiribati</option>
                                        <option value="KM">KM - Ilhas Comores</option>
                                        <option value="KN">KN - São Cristóvão e Névis</option>
                                        <option value="KP">KP - Coréia do Norte</option>
                                        <option value="KR">KR - Coréia do Sul</option>
                                        <option value="KW">KW - Kuait</option>
                                        <option value="KY">KY - Ilhas Cayman</option>
                                        <option value="KZ">KZ - Cazaquistão</option>
                                        <option value="LA">LA - Laos</option>
                                        <option value="LB">LB - Líbano</option>
                                        <option value="LC">LC - Santa Lúcia</option>
                                        <option value="LI">LI - Liechtenstein</option>
                                        <option value="LK">LK - Sri Lanka</option>
                                        <option value="LR">LR - Libéria</option>
                                        <option value="LS">LS - Lesoto</option>
                                        <option value="LT">LT - Lituânia</option>
                                        <option value="LU">LU - Luxemburgo</option>
                                        <option value="LV">LV - Látvia</option>
                                        <option value="LY">LY - Líbia</option>
                                        <option value="MA">MA - Marrocos</option>
                                        <option value="MC">MC - Mônaco</option>
                                        <option value="MD">MD - Moldova</option>
                                        <option value="ME">ME - Montenegro</option>
                                        <option value="MF">MF - São Martim</option>
                                        <option value="MG">MG - Madagascar</option>
                                        <option value="MH">MH - Ilhas Marshall</option>
                                        <option value="MK">MK - Macedônia (República Yugoslava)</option>
                                        <option value="ML">ML - Mali</option>
                                        <option value="MM">MM - Myanma (Ex-Burma)</option>
                                        <option value="MN">MN - Mongólia</option>
                                        <option value="MO">MO - Macau</option>
                                        <option value="MP">MP - Ilhas Marianas do Norte</option>
                                        <option value="MQ">MQ - Martinica</option>
                                        <option value="MR">MR - Mauritânia</option>
                                        <option value="MS">MS - Montserrat</option>
                                        <option value="MT">MT - Malta</option>
                                        <option value="MU">MU - Maurício</option>
                                        <option value="MV">MV - Maldivas</option>
                                        <option value="MW">MW - Malaui</option>
                                        <option value="MX">MX - Mexico</option>
                                        <option value="MY">MY - Malásia</option>
                                        <option value="MZ">MZ - Moçambique</option>
                                        <option value="NA">NA - Namíbia</option>
                                        <option value="NC">NC - Nova Caledônia</option>
                                        <option value="NE">NE - Níger</option>
                                        <option value="NF">NF - Ilhas Norfolk</option>
                                        <option value="NG">NG - Nigéria</option>
                                        <option value="NI">NI - Nicarágua</option>
                                        <option value="NL">NL - Holanda</option>
                                        <option value="NO">NO - Noruega</option>
                                        <option value="NP">NP - Nepal</option>
                                        <option value="NR">NR - Nauru</option>
                                        <option value="NU">NU - Niue</option>
                                        <option value="NZ">NZ - Nova Zelândia</option>
                                        <option value="OM">OM - Omã</option>
                                        <option value="PA">PA - Panamá</option>
                                        <option value="PE">PE - Peru</option>
                                        <option value="PF">PF - Polinésia Francesa</option>
                                        <option value="PG">PG - Papua-Nova Guiné</option>
                                        <option value="PH">PH - Filipinas</option>
                                        <option value="PK">PK - Paquistão</option>
                                        <option value="PL">PL - Polônia</option>
                                        <option value="PM">PM - St. Pierre and Miquelon</option>
                                        <option value="PN">PN - Ilha Pitcairn</option>
                                        <option value="PR">PR - Porto Rico</option>
                                        <option value="PS">PS - Territórios Palestinos Ocupados</option>
                                        <option value="PT">PT - Portugal</option>
                                        <option value="PW">PW - Palau</option>
                                        <option value="PY">PY - Paraguai</option>
                                        <option value="QA">QA - Qatar</option>
                                        <option value="RE">RE - Ilha Reunião</option>
                                        <option value="RO">RO - Romênia</option>
                                        <option value="RS">RS - Sérvia</option>
                                        <option value="RU">RU - Federação Russa</option>
                                        <option value="RW">RW - Ruanda</option>
                                        <option value="SA">SA - Arábia Saudita</option>
                                        <option value="SB">SB - Ilhas Solomão</option>
                                        <option value="SC">SC - Ilhas Seychelles</option>
                                        <option value="SD">SD - Sudão</option>
                                        <option value="SE">SE - Suécia</option>
                                        <option value="SG">SG - Cingapura</option>
                                        <option value="SH">SH - Santa Helena</option>
                                        <option value="SI">SI - Eslovênia</option>
                                        <option value="SJ">SJ - Ilhas Svalbard e Jan Mayen</option>
                                        <option value="SK">SK - Eslováquia</option>
                                        <option value="SL">SL - Serra Leoa</option>
                                        <option value="SM">SM - San Marino</option>
                                        <option value="SN">SN - Senegal</option>
                                        <option value="SO">SO - Somália</option>
                                        <option value="SR">SR - Suriname</option>
                                        <option value="ST">ST - São Tomé e Príncipe</option>
                                        <option value="SV">SV - El Salvador</option>
                                        <option value="SY">SY - Síria</option>
                                        <option value="SZ">SZ - Suazilândia</option>
                                        <option value="TC">TC - Ilhas Turks e Caicos</option>
                                        <option value="TD">TD - Chade</option>
                                        <option value="TF">TF - Territórios do Sul da França</option>
                                        <option value="TG">TG - Togo</option>
                                        <option value="TH">TH - Tailândia</option>
                                        <option value="TJ">TJ - Tadjiquistão</option>
                                        <option value="TK">TK - Ilhas Tokelau</option>
                                        <option value="TL">TL - Timor Leste (Ex-East Timor)</option>
                                        <option value="TM">TM - Turcomenistão</option>
                                        <option value="TN">TN - Tunísia</option>
                                        <option value="TO">TO - Tonga</option>
                                        <option value="TR">TR - Turquia</option>
                                        <option value="TT">TT - Trinidad and Tobago</option>
                                        <option value="TV">TV - Tuvalu</option>
                                        <option value="TW">TW - Taiwan</option>
                                        <option value="TZ">TZ - Tanzânia</option>
                                        <option value="UA">UA - Ucrânia</option>
                                        <option value="UG">UG - Uganda</option>
                                        <option value="UM">UM - Ilhas Menores dos Estados Unidos</option>
                                        <option value="US">US - Estados Unidos</option>
                                        <option value="UY">UY - Uruguai</option>
                                        <option value="UZ">UZ - Uzbequistão</option>
                                        <option value="VA">VA - Vaticano</option>
                                        <option value="VC">VC - Saint Vincente e Granadinas</option>
                                        <option value="VE">VE - Venezuela</option>
                                        <option value="VG">VG - Ilhas Virgens (Inglaterra)</option>
                                        <option value="VI">VI - Ilhas Virgens (Estados Unidos)</option>
                                        <option value="VN">VN - Vietnam</option>
                                        <option value="VU">VU - Vanuatu</option>
                                        <option value="WF">WF - Ilhas Wallis e Futuna</option>
                                        <option value="WS">WS - Samoa Ocidental</option>
                                        <option value="YE">YE - Iêmen</option>
                                        <option value="YT">YT - Mayotte</option>
                                        <option value="ZA">ZA - África do Sul</option>
                                        <option value="ZM">ZM - Zâmbia</option>
                                        <option value="ZW">ZW - Zimbábue</option>
                                    </select>
                                </td>
                                <td class="campo">
                                    <select id="SGUFSFCO" name="SGUFSFCO" class="texto" title="Selecione a UF">
                                        <option value="" selected="selected">[Selecione...]</option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MG">MG</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NI">NI</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="PR">PR</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="RS">RS</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </td>
                                <td class="campo">
                                    <input type="text" id="DCCIDFCO" name="DCCIDFCO" required maxlength="40" size="20"
                                        class="texto" title="Informe a Cidade"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRTELRSDFCO" class="titulo">Telefone</label>
                                </td>
                                <td>
                                    <label for="DCEMLFCO" class="titulo">Email</label>
                                </td>
                                
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRTELRSDFCO" name="NRTELRSDFCO" required maxlength="15" size="15" 
                                    OnKeyPress="formatar('(##) #####-####',this)"
                                    class="texto" title="Informe o Telefone"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="DCEMLFCO" name="DCEMLFCO" required maxlength="45" size="40"
                                        class="texto" title="Informe o Email"><br>

                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="AUUSUULTALT" class="titulo">Usuário</label>
                                </td>
                                <td>
                                    <label for="DCHOS" class="titulo">Data de Alteração</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="AUUSUULTALT" name="AUUSUULTALT" required maxlength="30" size="15"
                                    class="texto" title="Informe o Usuário"><br>

                                </td>
                                <td class="campo">
                                    <input type="datetime-local" id="AUDATULTALT" name="AUDATULTALT" required 
                                    class="texto" title="Informe a Data de Alteração"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>              
                </form>
                
                <div class="barra-inicial">
                    <button type="button" onclick="limparCampos()" title="Novo">
                        <i class="fa-solid fa-folder-plus custom-icon" style="color: #0d54a0;"></i>
                    </button>
                    <button type="button" id="openButton" title="Abrir">
                        <i class="fa-regular fa-folder-open custom-icon" style="color: #bdbf3f;"></i>
                    </button>   
                    <button type="button" onclick="insertFuncionarioData()" title="Gravar">
                        <i class="fa-solid fa-folder custom-icon" style="color: #3fc45a;"></i>
                    </button>
                </div>
            </div>
        </fieldset>
        
        <script>  
            function formatar(mascara, documento) {
              let i = documento.value.length;
              let saida = '#';
              let texto = mascara.substring(i);
              while (texto.substring(0, 1) != saida && texto.length ) {
                documento.value += texto.substring(0, 1);
                i++;
                texto = mascara.substring(i);
              }
            }
        </script>
        <script>
            async function insertFuncionarioData() {
                const IDHOS = document.getElementById('IDHOS').value;
                const CDHOS = document.getElementById('CDHOS').value;
                const NRISC = document.getElementById('NRISC').value;
                const NMFCO = document.getElementById('NMFCO').value;
                const DTNSCFCO = document.getElementById('DTNSCFCO').value;
                const TPSEXFCO = document.getElementById('TPSEXFCO').value;
                const NRCPFFCO = document.getElementById('NRCPFFCO').value;
                const DTISCFCO = document.getElementById('DTISCFCO').value;
                const DCLOGFCO = document.getElementById('DCLOGFCO').value;
                const NRLOGFCO = document.getElementById('NRLOGFCO').value;
                const DCBAIFCO = document.getElementById('DCBAIFCO').value;
                const DCCIDFCO = document.getElementById('DCCIDFCO').value;
                const CDPSIFCO = document.getElementById('CDPSIFCO').value;
                const NRCEPFCO = document.getElementById('NRCEPFCO').value;
                const SGUFSFCO = document.getElementById('SGUFSFCO').value;
                const NRTELRSDFCO = document.getElementById('NRTELRSDFCO').value;
                const DCEMLFCO = document.getElementById('DCEMLFCO').value;
                const NRCGO = document.getElementById('NRCGO').value;
                const AUUSUULTALT = document.getElementById('AUUSUULTALT').value;
                const AUDATULTALT = document.getElementById('AUDATULTALT').value;

                if (!IDHOS  || !CDHOS || !NRISC || !NMFCO || !DTNSCFCO || 
                    !TPSEXFCO || !NRCPFFCO || !DTISCFCO || !DCLOGFCO || !NRLOGFCO || 
                    !DCBAIFCO || !DCCIDFCO || !CDPSIFCO || !NRCEPFCO || !SGUFSFCO || 
                    !NRTELRSDFCO || !DCEMLFCO || !NRCGO || !AUUSUULTALT || !AUDATULTALT) {
                    alert('Insira os dados necessários para o registro do funcionário!');
                    return;
                }

                const response = await fetch('/insert_funcionario', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        IDHOS, CDHOS, NRISC, NMFCO, DTNSCFCO, TPSEXFCO, NRCPFFCO, DTISCFCO, DCLOGFCO, NRLOGFCO, DCBAIFCO,
                        DCCIDFCO, CDPSIFCO, NRCEPFCO, SGUFSFCO, NRTELRSDFCO, DCEMLFCO, NRCGO, AUUSUULTALT, AUDATULTALT
                    })
                });

                const result = await response.json();
                if (result.success) {
                    alert('O funcionário foi cadastrado com sucesso!');
                } else {
                    alert('Erro ao inserir o registro. Por favor, tente novamente.');
                }
                console.log(result);
            }
        </script>
        <script>
            function limparCampos() {
                document.getElementById('IDHOS').value = '';
                document.getElementById('CDHOS').value = '';
                document.getElementById('NRISC').value = '';
                document.getElementById('NMFCO').value = '';
                document.getElementById('DTNSCFCO').value = '';
                document.getElementById('TPSEXFCO').value = '';
                document.getElementById('NRCPFFCO').value = '';
                document.getElementById('DTISCFCO').value = '';
                document.getElementById('DCLOGFCO').value = '';
                document.getElementById('NRLOGFCO').value = '';
                document.getElementById('DCBAIFCO').value = '';
                document.getElementById('DCCIDFCO').value = '';
                document.getElementById('CDPSIFCO').value = '';
                document.getElementById('NRCEPFCO').value = '';
                document.getElementById('SGUFSFCO').value = '';
                document.getElementById('NRTELRSDFCO').value = '';
                document.getElementById('DCEMLFCO').value = '';
                document.getElementById('NRCGO').value = '';
                document.getElementById('AUUSUULTALT').value = '';
                document.getElementById('AUDATULTALT').value = '';
            }
        </script>

        <script>
            document.getElementById('openButton').addEventListener('click', function () {
                window.location.href = '/views/funcionario_2.html';
            });
        </script>
    </div>

</body>

</html>