<!--funcionario.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
</head>
<style>
    #resultadoForm {
        display: none;
    }
</style>

<body>

    <div id="sidebar">
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            Página Inicial
        </a>
        <a href="hospital.html">
            <i class="fa-solid fa-building"></i>
            Hospitais
        </a>
        <a href="enfermaria.html">
            <i class="fa-solid fa-house-medical"></i>
            Enfermarias
        </a>
        <a href="funcionario.html" class="sidebar-link">
            <i class="fa-solid fa-user-doctor"></i>
            Funcionários
        </a>
        <a href="cargo.html">
            <i class="fa-solid fa-briefcase"></i>
            Cargos
        </a>
        <a href="paciente.html">
            <i class="fa-solid fa-address-card"></i>
            Pacientes
        </a>
    </div>

    <div id="content">
        <table width="100%" margin=15px;>
            <tr>
                <td class="secao">
                    Funcionário
                </td>
            </tr>
        </table>
        <div class="container-barra-inicial">
            <div class="barra-inicial">
                <button type="button" onclick="limparCampos()">
                    <i class="fa-solid fa-folder-plus custom-icon" style="color: #0d54a0;" title="Novo"></i>
                </button>
                <button type="button" id="excluirButton" onclick="excluirFuncionario()">
                    <i class="fa-solid fa-folder-minus custom-icon" style="color: #c25b32;" title="Excluir"></i>
                </button>

                <button type="button" id="pesquisarButton" onclick="mostrarFormulario()">
                    <i class="fa-solid fa-magnifying-glass custom-icon" title="Pesquisar"></i>
                </button>
                <button type="button" onclick="updateFuncionarioData()" title="Gravar">
                    <i class="fa-solid fa-folder custom-icon" style="color: #3fc45a;"></i>
                </button>
            </div>
        </div>

        <form id="funcionarioForm">
            <fieldset>
                <legend style="color: #325D82;">Busca Funcionário</legend>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRISC" class="titulo">Inscrição do Funcionário</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <select id="NRISC" name="NRISC" class="texto"
                                        title="Selecione a Inscrição do Funcionário"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>



        <form id="resultadoForm">
            <fieldset>
                <legend style="color: #325D82;">Resultado</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="IDHOS" class="titulo">Identificador do Hospital</label>
                                </td>
                                <td>
                                    <label for="CDHOS" class="titulo">Código do Hospital</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="IDHOS" name="IDHOS" required maxlength="3" size="17"
                                        class="texto" title="Informe o Identificador"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="CDHOS" name="CDHOS" required maxlength="3" size="12"
                                        class="texto" title="Informe o Código do Hospital"><br>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NMFCO" class="titulo">Nome do Funcionário</label>
                                </td>
                                <td>
                                    <label for="DTNSCFCO" class="titulo">Data de Nascimento</label>
                                </td>
                                <td>
                                    <label for="TPSEXFCO" class="titulo">Sexo</label>
                                </td>
                                <td>
                                    <label for="NRCPFFCO" class="titulo">CPF</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NMFCO" name="NMFCO" required maxlength="75" size="60"
                                        class="texto" title="Informe o Nome do Funcionário"><br>

                                </td>
                                <td class="campo">
                                    <input type="datetime" id="DTNSCFCO" name="DTNSCFCO" required class="texto" 
                                        title="Informe a Data de Nascimento"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="TPSEXFCO" name="TPSEXFCO" required maxlength="1" size="1"
                                        class="texto" title="Informe o Sexo"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="NRCPFFCO" name="NRCPFFCO" required maxlength="14" size="14"
                                        class="texto" title="Informe o CPF" oninput="formatarCPF(this)"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="DTISCFCO" class="titulo">Data da Inscrição</label>
                                </td>

                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="datetime" id="DTISCFCO" name="DTISCFCO" required class="texto" 
                                        title="Informe a Data da Inscrição"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="DCLOGFCO" class="titulo">Logradouro</label>
                                </td>
                                <td>
                                    <label for="NRLOGFCO" class="titulo">Número</label>
                                </td>
                                <td>
                                    <label for="DCBAIFCO" class="titulo">Bairro</label>
                                </td>
                                <td>
                                    <label for="DCCIDFCO" class="titulo">Cidade</label>
                                </td>
                                <td>
                                    <label for="CDPSIFCO" class="titulo">País</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="DCLOGFCO" name="DCLOGFCO" required maxlength="60" size="35"
                                        class="texto" title="Informe o Logradouro"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="NRLOGFCO" name="NRLOGFCO" required maxlength="5" size="3"
                                        class="texto" title="Informe o Número"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="DCBAIFCO" name="DCBAIFCO" required maxlength="60" size="30"
                                        class="texto" title="Informe o Bairro"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="DCCIDFCO" name="DCCIDFCO" required maxlength="40" size="20"
                                        class="texto" title="Informe a Cidade"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="CDPSIFCO" name="CDPSIFCO" required maxlength="2" size="2"
                                        class="texto" title="Informe o País"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRCEPFCO" class="titulo">CEP</label>
                                </td>
                                <td>
                                    <label for="SGUFSFCO" class="titulo">UF</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRCEPFCO" name="NRCEPFCO" required maxlength="8" size="8"
                                        class="texto" title="Informe o CEP"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="SGUFSFCO" name="SGUFSFCO" required maxlength="2" size="2"
                                        class="texto" title="Informe a UF"><br>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRTELRSDFCO" class="titulo">Telefone</label>
                                </td>
                                <td>
                                    <label for="DCEMLFCO" class="titulo">Email</label>
                                </td>
                                <td>
                                    <label for="NRCGO" class="titulo">Número do Cargo</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRTELRSDFCO" name="NRTELRSDFCO" required maxlength="15" size="15"
                                        class="texto" title="Informe o Telefone"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="DCEMLFCO" name="DCEMLFCO" required maxlength="45" size="40"
                                        class="texto" title="Informe o Email"><br>

                                </td>
                                <td class="campo">
                                    <input type="text" id="NRCGO" name="NRCGO" required maxlength="8" size="5"
                                        class="texto" title="Informe o Número do Cargo"><br>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="AUUSUULTALT" class="titulo">Usuário</label>
                                </td>
                                <td>
                                    <label for="AUDATULTALT" class="titulo">Data de Alteração</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="AUUSUULTALT" name="AUUSUULTALT" required maxlength="30"
                                        size="15" class="texto" title="Informe o Usuário" readonly><br>
                                </td>
                                <td class="campo">
                                    <input type="datetime" id="AUDATULTALT" name="AUDATULTALT" required class="texto"
                                        title="Informe a Data de Alteração" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
        </form>
        <script>
            function formatarCPF(input) {
                // Remove any non-numeric characters
                const cleanedInput = input.value.replace(/\D/g, '');
        
                // Check if the input is empty or non-numeric
                if (!cleanedInput || isNaN(cleanedInput)) {
                    input.value = '';
                    return;
                }
        
                // Format the CPF as XXX.XXX.XXX-XX
                const formattedCPF = cleanedInput.replace(/^(\d{3})(\d{3})(\d{3})(\d{2})$/, '$1.$2.$3-$4');
        
                // Update the input value with the formatted CPF
                input.value = formattedCPF;
            }
        </script>
        <script>
            function limparCampos() {
                document.getElementById('IDHOS').value = '';
                document.getElementById('CDHOS').value = '';
                document.getElementById('NRISC').value = '';
                document.getElementById('NMFCO').value = '';
                document.getElementById('DTNSCFCO').value = '';
                document.getElementById('TPSEXFCO').value = '';
                document.getElementById('NRCPFFCO').value = '';
                document.getElementById('DTISCFCO').value = '';
                document.getElementById('DCLOGFCO').value = '';
                document.getElementById('NRLOGFCO').value = '';
                document.getElementById('DCBAIFCO').value = '';
                document.getElementById('DCCIDFCO').value = '';
                document.getElementById('CDPSIFCO').value = '';
                document.getElementById('NRCEPFCO').value = '';
                document.getElementById('SGUFSFCO').value = '';
                document.getElementById('NRTELRSDFCO').value = '';
                document.getElementById('DCEMLFCO').value = '';
                document.getElementById('NRCGO').value = '';
                document.getElementById('AUUSUULTALT').value = '';
                document.getElementById('AUDATULTALT').value = '';
            }
        </script>
        

            <script>
                function excluirFuncionario() {
                    const selectedFuncionarioCode = document.getElementById('NRISC').value;
                    console.log('Selected Funcionario Code:', selectedFuncionarioCode);


                    if (!selectedFuncionarioCode) {
                        alert('Por favor, selecione um funcionario antes de excluir.');
                        return;
                    }

                    const confirmation = confirm('Tem certeza que deseja excluir este funcionario?');

                    if (confirmation) {
                        fetch(`/api/delete_funcionario/${selectedFuncionarioCode}`, {
                            method: 'DELETE',
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Erro na requisição: ' + response.statusText);
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    alert('Funcionario excluído com sucesso!');
                                    limparCampos();
                                } else {
                                    alert('Erro ao excluir funcionário. Por favor, tente novamente.');
                                }
                            })
                            .catch(error => console.error('Erro na requisição:', error));
                    }
                }
            </script>

            <script>

                async function populateFuncionarioSelect() {
                    const selectElement = document.getElementById('NRISC');

                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.text = '<Selecione a Inscrição do Funcionário>';
                    selectElement.add(defaultOption);

                    const response = await fetch('/api/funcionarios');
                    const { success, funcionarios } = await response.json();

                    if (success) {
                        funcionarios.forEach(funcionario => {
                            const option = document.createElement('option');
                            option.value = funcionario.NRISC;
                            option.text = `${funcionario.NRISC}`;
                            selectElement.add(option);
                        });

                        document.getElementById('pesquisarButton').addEventListener('click', () => {
                            const selectedFuncionario = funcionarios.find(funcionario => funcionario.NRISC === selectElement.value);

                            document.getElementById('IDHOS').value = selectedFuncionario.IDHOS || '';
                            document.getElementById('CDHOS').value = selectedFuncionario.CDHOS || '';
                            document.getElementById('NRISC').value = selectedFuncionario.NRISC || '';
                            document.getElementById('NMFCO').value = selectedFuncionario.NMFCO || '';

                            const dataFormatada_DTNSCFCO = formatarData(selectedFuncionario.DTNSCFCO);
                            document.getElementById('DTNSCFCO').value = dataFormatada_DTNSCFCO;
                            
                            document.getElementById('TPSEXFCO').value = selectedFuncionario.TPSEXFCO || '';
                            document.getElementById('NRCPFFCO').value = selectedFuncionario.NRCPFFCO || '';

                            const dataFormatada_DTISCFCO = formatarData(selectedFuncionario.DTISCFCO);
                            document.getElementById('DTISCFCO').value = dataFormatada_DTISCFCO;

                            document.getElementById('DCLOGFCO').value = selectedFuncionario.DCLOGFCO || '';
                            document.getElementById('NRLOGFCO').value = selectedFuncionario.NRLOGFCO || '';
                            document.getElementById('DCBAIFCO').value = selectedFuncionario.DCBAIFCO || '';
                            document.getElementById('DCCIDFCO').value = selectedFuncionario.DCCIDFCO || '';
                            document.getElementById('CDPSIFCO').value = selectedFuncionario.CDPSIFCO || '';
                            document.getElementById('NRCEPFCO').value = selectedFuncionario.NRCEPFCO || '';
                            document.getElementById('SGUFSFCO').value = selectedFuncionario.SGUFSFCO || '';
                            document.getElementById('NRTELRSDFCO').value = selectedFuncionario.NRTELRSDFCO || '';
                            document.getElementById('DCEMLFCO').value = selectedFuncionario.DCEMLFCO || '';
                            document.getElementById('NRCGO').value = selectedFuncionario.NRCGO || '';
                            document.getElementById('AUUSUULTALT').value = selectedFuncionario.AUUSUULTALT;

                            const dataFormatada = formatarData(selectedFuncionario.AUDATULTALT);
                            document.getElementById('AUDATULTALT').value = dataFormatada;
                            
                        });
                    } else {
                        console.error('Erro ao obter funcionários do servidor');
                    }
                }
                function formatarData(dataString) {
                    const data = new Date(dataString);
                    const dia = ('0' + data.getDate()).slice(-2);
                    const mes = ('0' + (data.getMonth() + 1)).slice(-2);
                    const ano = data.getFullYear();

                    return `${dia}/${mes}/${ano}`;
                }

                window.onload = populateFuncionarioSelect;
                function mostrarFormulario() {
                    const funcionarioForm = document.getElementById('funcionarioForm');
                    const resultadoForm = document.getElementById('resultadoForm');

                    if (funcionarioForm.style.display !== 'none') {

                        resultadoForm.style.display = 'block';
                    }
                }
            </script>  

            <script>
                async function updateFuncionarioData() {
                    

                        const selectedFuncionarioCode = document.getElementById('NRISC').value;
                        console.log('Selected Funcionario Code:', selectedFuncionarioCode);

                        if (!selectedFuncionarioCode) {
                            alert('Por favor, selecione um funcionário antes de gravar.');
                            return;
                        }

                        const data = {
                            NRISC: selectedFuncionarioCode,
                            IDHOS: document.getElementById('IDHOS').value,
                            CDHOS: document.getElementById('CDHOS').value,
                            NRISC: document.getElementById('NRISC').value,
                            NMFCO: document.getElementById('NMFCO').value,
                            DTNSCFCO: formatarDataParaEnvio(document.getElementById('DTNSCFCO').value),
                            TPSEXFCO: document.getElementById('TPSEXFCO').value,
                            NRCPFFCO: document.getElementById('NRCPFFCO').value,
                            DTISCFCO: formatarDataParaEnvio(document.getElementById('DTISCFCO').value),

                            DCLOGFCO: document.getElementById('DCLOGFCO').value,
                            NRLOGFCO: document.getElementById('NRLOGFCO').value,
                            DCBAIFCO: document.getElementById('DCBAIFCO').value,
                            DCCIDFCO: document.getElementById('DCCIDFCO').value,
                            CDPSIFCO: document.getElementById('CDPSIFCO').value,
                            NRCEPFCO: document.getElementById('NRCEPFCO').value,
                            SGUFSFCO: document.getElementById('SGUFSFCO').value,
                            NRTELRSDFCO: document.getElementById('NRTELRSDFCO').value,
                            NRCGO: document.getElementById('NRCGO').value,
                            DCEMLFCO: document.getElementById('DCEMLFCO').value,
                            AUUSUULTALT: document.getElementById('AUUSUULTALT').value,
                            AUDATULTALT: formatarDataParaEnvio(document.getElementById('AUDATULTALT').value),
                        };

                        
                        const confirmation = confirm('Tem certeza que deseja atualizar este funcionário?');

                        function formatarDataParaEnvio(dataString) {
                        const partes = dataString.split('/');
                            if (partes.length === 3) {
                                const [dia, mes, ano] = partes;
                                return `${ano}-${mes}-${dia}`;
                            }
                            return dataString;
                        }

                        if (confirmation) {
                        try {
                            const response = await fetch('/api/update_funcionario', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                            });

                            if (!response.ok) {
                                throw new Error('Erro na requisição: ' + response.statusText);
                            }

                            const result = await response.json();

                            if (result.success) {
                                alert('Funcionário atualizado com sucesso!');
                            } else {
                                alert('Erro ao atualizar funcionário. Por favor, tente novamente.');
                            }
                        } catch (error) {
                            console.error('Erro na requisição:', error);
                        }
                    }
                }
            </script>

        </form>
    </div>
</body>

</html>