<!--hospital_2.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospitais</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
</head>
<style>
    #resultadoForm {
        display: none;
    }
</style>

<body>

    <div id="sidebar">
        <a href="index.html">
            <i class="fa-solid fa-house"></i>
            Página Inicial
        </a>
        <a href="hospital.html" class="sidebar-link">
            <i class="fa-solid fa-building"></i>
            Hospitais
        </a>
        <a href="enfermaria.html">
            <i class="fa-solid fa-house-medical"></i>
            Enfermarias
        </a>
        <a href="funcionario.html">
            <i class="fa-solid fa-user-doctor"></i>
            Funcionários
        </a>
        <a href="cargo.html">
            <i class="fa-solid fa-briefcase"></i>
            Cargos
        </a>
        <a href="paciente.html">
            <i class="fa-solid fa-address-card"></i>
            Pacientes
        </a>
    </div>

    <div id="content">
        <table width="100%" margin=15px;>
            <tr>
                <td class="secao">
                    Hospital
                </td>
            </tr>
        </table>

        <div class="container-barra-inicial">
            <div class="barra-inicial">
                <button type="button" onclick="limparCampos()">
                    <i class="fa-solid fa-folder-plus custom-icon" style="color: #0d54a0;" title="Novo"></i>
                </button>
                <button type="button" id="excluirButton" onclick="excluirHospital()">
                    <i class="fa-solid fa-folder-minus custom-icon" style="color: #c25b32;" title="Excluir"></i>
                </button>

                <button type="button" id="pesquisarButton" onclick="mostrarFormulario()">
                    <i class="fa-solid fa-magnifying-glass custom-icon" title="Pesquisar"></i>
                </button>
                <button type="button" onclick="atualizarHospital()" title="Gravar">
                    <i class="fa-solid fa-folder custom-icon" style="color: #3fc45a;"></i>
                </button>
            </div>
        </div>


        <form id="hospitalForm">
            <fieldset>
                <legend style="color: #325D82;">Busca Hospital</legend>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="CDHOS" class="titulo">Código do Hospital</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <select id="CDHOS" name="CDHOS" class="texto"
                                        title="Selecione o Código do Hospital"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
        
        <form id="resultadoForm">
            <fieldset>
                <legend style="color: #325D82;">Resultado</legend>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="DCHOS" class="titulo">Descrição</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="DCHOS" name="DCHOS" required maxlength="60" size="60"
                                        class="texto" title="Informe a Descrição"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRLOGHOS" class="titulo">Número</label>
                                </td>
                                <td>
                                    <label for="DCLOGHOS" class="titulo">Logradouro</label>
                                </td>
                                <td>
                                    <label for="NRCEPHOS" class="titulo">CEP</label>
                                </td>
                                <td>
                                    <label for="DCBAIHOS" class="titulo">Bairro</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRLOGHOS" name="NRLOGHOS" required maxlength="5" size="3"
                                        class="texto" title="Informe o Número"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="DCLOGHOS" name="DCLOGHOS" required maxlength="55" size="50"
                                        class="texto" title="Informe o Logradouro"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="NRCEPHOS" name="NRCEPHOS" required maxlength="8" size="8"
                                        class="texto" title="Informe a Descrição"><br>
                                </td>
                                <td class="campo">
                                    <input type="text" id="DCBAIHOS" name="DCBAIHOS" required maxlength="30" size="20"
                                        class="texto" title="Informe o Bairro"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="CDPSIHOS" class="titulo">País</label>
                                </td>
                                <td>
                                    <label for="SGUFSHOS" class="titulo">UF</label>
                                </td>
                                <td>
                                    <label for="DCCIDHOS" class="titulo">Cidade</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <select id="CDPSIHOS" name="CDPSIHOS" class="texto">
                                        <option value="AD">AD - Andorra</option>
                                        <option value="AE">AE - Emirados Árabes Unidos</option>
                                        <option value="AF">AF - Afeganistão</option>
                                        <option value="AG">AG - Antígua e Barbuda</option>
                                        <option value="AI">AI - Anguilla</option>
                                        <option value="AL">AL - Albânia</option>
                                        <option value="AM">AM - Armênia</option>
                                        <option value="AN">AN - Antilhas Holandesas</option>
                                        <option value="AO">AO - Angola</option>
                                        <option value="AQ">AQ - Antártida</option>
                                        <option value="AR">AR - Argentina</option>
                                        <option value="AS">AS - Samoa Americana</option>
                                        <option value="AT">AT - Áustria</option>
                                        <option value="AU">AU - Austrália</option>
                                        <option value="AW">AW - Aruba</option>
                                        <option value="AX">AX - Ilhas Aland</option>
                                        <option value="AZ">AZ - Azerbaijão</option>
                                        <option value="BA">BA - Bósnia-Herzegóvina</option>
                                        <option value="BB">BB - Barbados</option>
                                        <option value="BD">BD - Bangladesh</option>
                                        <option value="BE">BE - Bélgica</option>
                                        <option value="BF">BF - Burkina Fasso</option>
                                        <option value="BG">BG - Bulgária</option>
                                        <option value="BH">BH - Bahrein</option>
                                        <option value="BI">BI - Burundi</option>
                                        <option value="BJ">BJ - Benin</option>
                                        <option value="BL">BL - São Bartolomeu</option>
                                        <option value="BM">BM - Bermudas</option>
                                        <option value="BN">BN - Brunei</option>
                                        <option value="BO">BO - Bolívia</option>
                                        <option value="BR">BR - Brasil</option>
                                        <option value="BS">BS - Bahamas</option>
                                        <option value="BT">BT - Butão</option>
                                        <option value="BV">BV - Ilha Bouvet (Território da Noruega)</option>
                                        <option value="BW">BW - Botsuana</option>
                                        <option value="BY">BY - Belarus</option>
                                        <option value="BZ">BZ - Belize</option>
                                        <option value="CA">CA - Canadá</option>
                                        <option value="CC">CC - Ilhas Cocos</option>
                                        <option value="CD">CD - República Democrática do Congo (ex-Zaire)</option>
                                        <option value="CF">CF - República Centro-Africana</option>
                                        <option value="CG">CG - Congo</option>
                                        <option value="CH">CH - Suíça</option>
                                        <option value="CI">CI - Costa do Marfim</option>
                                        <option value="CK">CK - Ilhas Cook</option>
                                        <option value="CL">CL - Chile</option>
                                        <option value="CM">CM - Camarões</option>
                                        <option value="CN">CN - China</option>
                                        <option value="CO">CO - Colômbia</option>
                                        <option value="CR">CR - Costa Rica</option>
                                        <option value="CU">CU - Cuba</option>
                                        <option value="CV">CV - Cabo Verde</option>
                                        <option value="CX">CX - Ilha Natal</option>
                                        <option value="CY">CY - Chipre</option>
                                        <option value="CZ">CZ - República Tcheca</option>
                                        <option value="DE">DE - Alemanha</option>
                                        <option value="DJ">DJ - Djibuti</option>
                                        <option value="DK">DK - Dinamarca</option>
                                        <option value="DM">DM - Dominica</option>
                                        <option value="DO">DO - República Dominicana</option>
                                        <option value="DZ">DZ - Argélia</option>
                                        <option value="EC">EC - Equador</option>
                                        <option value="EE">EE - Estônia</option>
                                        <option value="EG">EG - Egito</option>
                                        <option value="EH">EH - Saara Ocidental (Ex-Spanish Sahara)</option>
                                        <option value="ER">ER - Eritréia</option>
                                        <option value="ES">ES - Espanha</option>
                                        <option value="ET">ET - Etiópia</option>
                                        <option value="FI">FI - Finlândia</option>
                                        <option value="FJ">FJ - Fiji</option>
                                        <option value="FK">FK - Ilhas Falkland (Malvinas)</option>
                                        <option value="FM">FM - Micronésia</option>
                                        <option value="FO">FO - Ilhas Faroes</option>
                                        <option value="FR">FR - França</option>
                                        <option value="GA">GA - Gabão</option>
                                        <option value="GB">GB - Grã-Bretanha (Reino Unido, UK)</option>
                                        <option value="GD">GD - Granada</option>
                                        <option value="GE">GE - Geórgia</option>
                                        <option value="GF">GF - Guiana Francesa</option>
                                        <option value="GG">GG - Guernsey</option>
                                        <option value="GH">GH - Gana</option>
                                        <option value="GI">GI - Gibraltar</option>
                                        <option value="GL">GL - Groelândia</option>
                                        <option value="GM">GM - Gâmbia</option>
                                        <option value="GN">GN - Guiné</option>
                                        <option value="GP">GP - Guadalupe</option>
                                        <option value="GQ">GQ - Guiné Equatorial</option>
                                        <option value="GR">GR - Grécia</option>
                                        <option value="GS">GS - Ilhas Geórgia do Sul e Sandwich do Sul</option>
                                        <option value="GT">GT - Guatemala</option>
                                        <option value="GU">GU - Guam (Território dos Estados Unidos)</option>
                                        <option value="GW">GW - Guiné-Bissau</option>
                                        <option value="GY">GY - Guiana</option>
                                        <option value="HK">HK - Hong Kong</option>
                                        <option value="HM">HM - Ilhas Heard e McDonald (Território da Austrália)</option>
                                        <option value="HN">HN - Honduras</option>
                                        <option value="HR">HR - Croácia (Hrvatska)</option>
                                        <option value="HT">HT - Haiti</option>
                                        <option value="HU">HU - Hungria</option>
                                        <option value="ID">ID - Indonésia</option>
                                        <option value="IE">IE - Irlanda</option>
                                        <option value="IL">IL - Israel</option>
                                        <option value="IM">IM - Ilha do Homem</option>
                                        <option value="IN">IN - Índia</option>
                                        <option value="IO">IO - Território Britânico do Oceano índico</option>
                                        <option value="IQ">IQ - Iraque</option>
                                        <option value="IR">IR - Irã</option>
                                        <option value="IS">IS - Islândia</option>
                                        <option value="IT">IT - Itália</option>
                                        <option value="JE">JE - Jersey</option>
                                        <option value="JM">JM - Jamaica</option>
                                        <option value="JO">JO - Jordânia</option>
                                        <option value="JP">JP - Japão</option>
                                        <option value="KE">KE - Kênia</option>
                                        <option value="KG">KG - Kyrgyzstan</option>
                                        <option value="KH">KH - Camboja</option>
                                        <option value="KI">KI - Kiribati</option>
                                        <option value="KM">KM - Ilhas Comores</option>
                                        <option value="KN">KN - São Cristóvão e Névis</option>
                                        <option value="KP">KP - Coréia do Norte</option>
                                        <option value="KR">KR - Coréia do Sul</option>
                                        <option value="KW">KW - Kuait</option>
                                        <option value="KY">KY - Ilhas Cayman</option>
                                        <option value="KZ">KZ - Cazaquistão</option>
                                        <option value="LA">LA - Laos</option>
                                        <option value="LB">LB - Líbano</option>
                                        <option value="LC">LC - Santa Lúcia</option>
                                        <option value="LI">LI - Liechtenstein</option>
                                        <option value="LK">LK - Sri Lanka</option>
                                        <option value="LR">LR - Libéria</option>
                                        <option value="LS">LS - Lesoto</option>
                                        <option value="LT">LT - Lituânia</option>
                                        <option value="LU">LU - Luxemburgo</option>
                                        <option value="LV">LV - Látvia</option>
                                        <option value="LY">LY - Líbia</option>
                                        <option value="MA">MA - Marrocos</option>
                                        <option value="MC">MC - Mônaco</option>
                                        <option value="MD">MD - Moldova</option>
                                        <option value="ME">ME - Montenegro</option>
                                        <option value="MF">MF - São Martim</option>
                                        <option value="MG">MG - Madagascar</option>
                                        <option value="MH">MH - Ilhas Marshall</option>
                                        <option value="MK">MK - Macedônia (República Yugoslava)</option>
                                        <option value="ML">ML - Mali</option>
                                        <option value="MM">MM - Myanma (Ex-Burma)</option>
                                        <option value="MN">MN - Mongólia</option>
                                        <option value="MO">MO - Macau</option>
                                        <option value="MP">MP - Ilhas Marianas do Norte</option>
                                        <option value="MQ">MQ - Martinica</option>
                                        <option value="MR">MR - Mauritânia</option>
                                        <option value="MS">MS - Montserrat</option>
                                        <option value="MT">MT - Malta</option>
                                        <option value="MU">MU - Maurício</option>
                                        <option value="MV">MV - Maldivas</option>
                                        <option value="MW">MW - Malaui</option>
                                        <option value="MX">MX - Mexico</option>
                                        <option value="MY">MY - Malásia</option>
                                        <option value="MZ">MZ - Moçambique</option>
                                        <option value="NA">NA - Namíbia</option>
                                        <option value="NC">NC - Nova Caledônia</option>
                                        <option value="NE">NE - Níger</option>
                                        <option value="NF">NF - Ilhas Norfolk</option>
                                        <option value="NG">NG - Nigéria</option>
                                        <option value="NI">NI - Nicarágua</option>
                                        <option value="NL">NL - Holanda</option>
                                        <option value="NO">NO - Noruega</option>
                                        <option value="NP">NP - Nepal</option>
                                        <option value="NR">NR - Nauru</option>
                                        <option value="NU">NU - Niue</option>
                                        <option value="NZ">NZ - Nova Zelândia</option>
                                        <option value="OM">OM - Omã</option>
                                        <option value="PA">PA - Panamá</option>
                                        <option value="PE">PE - Peru</option>
                                        <option value="PF">PF - Polinésia Francesa</option>
                                        <option value="PG">PG - Papua-Nova Guiné</option>
                                        <option value="PH">PH - Filipinas</option>
                                        <option value="PK">PK - Paquistão</option>
                                        <option value="PL">PL - Polônia</option>
                                        <option value="PM">PM - St. Pierre and Miquelon</option>
                                        <option value="PN">PN - Ilha Pitcairn</option>
                                        <option value="PR">PR - Porto Rico</option>
                                        <option value="PS">PS - Territórios Palestinos Ocupados</option>
                                        <option value="PT">PT - Portugal</option>
                                        <option value="PW">PW - Palau</option>
                                        <option value="PY">PY - Paraguai</option>
                                        <option value="QA">QA - Qatar</option>
                                        <option value="RE">RE - Ilha Reunião</option>
                                        <option value="RO">RO - Romênia</option>
                                        <option value="RS">RS - Sérvia</option>
                                        <option value="RU">RU - Federação Russa</option>
                                        <option value="RW">RW - Ruanda</option>
                                        <option value="SA">SA - Arábia Saudita</option>
                                        <option value="SB">SB - Ilhas Solomão</option>
                                        <option value="SC">SC - Ilhas Seychelles</option>
                                        <option value="SD">SD - Sudão</option>
                                        <option value="SE">SE - Suécia</option>
                                        <option value="SG">SG - Cingapura</option>
                                        <option value="SH">SH - Santa Helena</option>
                                        <option value="SI">SI - Eslovênia</option>
                                        <option value="SJ">SJ - Ilhas Svalbard e Jan Mayen</option>
                                        <option value="SK">SK - Eslováquia</option>
                                        <option value="SL">SL - Serra Leoa</option>
                                        <option value="SM">SM - San Marino</option>
                                        <option value="SN">SN - Senegal</option>
                                        <option value="SO">SO - Somália</option>
                                        <option value="SR">SR - Suriname</option>
                                        <option value="ST">ST - São Tomé e Príncipe</option>
                                        <option value="SV">SV - El Salvador</option>
                                        <option value="SY">SY - Síria</option>
                                        <option value="SZ">SZ - Suazilândia</option>
                                        <option value="TC">TC - Ilhas Turks e Caicos</option>
                                        <option value="TD">TD - Chade</option>
                                        <option value="TF">TF - Territórios do Sul da França</option>
                                        <option value="TG">TG - Togo</option>
                                        <option value="TH">TH - Tailândia</option>
                                        <option value="TJ">TJ - Tadjiquistão</option>
                                        <option value="TK">TK - Ilhas Tokelau</option>
                                        <option value="TL">TL - Timor Leste (Ex-East Timor)</option>
                                        <option value="TM">TM - Turcomenistão</option>
                                        <option value="TN">TN - Tunísia</option>
                                        <option value="TO">TO - Tonga</option>
                                        <option value="TR">TR - Turquia</option>
                                        <option value="TT">TT - Trinidad and Tobago</option>
                                        <option value="TV">TV - Tuvalu</option>
                                        <option value="TW">TW - Taiwan</option>
                                        <option value="TZ">TZ - Tanzânia</option>
                                        <option value="UA">UA - Ucrânia</option>
                                        <option value="UG">UG - Uganda</option>
                                        <option value="UM">UM - Ilhas Menores dos Estados Unidos</option>
                                        <option value="US">US - Estados Unidos</option>
                                        <option value="UY">UY - Uruguai</option>
                                        <option value="UZ">UZ - Uzbequistão</option>
                                        <option value="VA">VA - Vaticano</option>
                                        <option value="VC">VC - Saint Vincente e Granadinas</option>
                                        <option value="VE">VE - Venezuela</option>
                                        <option value="VG">VG - Ilhas Virgens (Inglaterra)</option>
                                        <option value="VI">VI - Ilhas Virgens (Estados Unidos)</option>
                                        <option value="VN">VN - Vietnam</option>
                                        <option value="VU">VU - Vanuatu</option>
                                        <option value="WF">WF - Ilhas Wallis e Futuna</option>
                                        <option value="WS">WS - Samoa Ocidental</option>
                                        <option value="YE">YE - Iêmen</option>
                                        <option value="YT">YT - Mayotte</option>
                                        <option value="ZA">ZA - África do Sul</option>
                                        <option value="ZM">ZM - Zâmbia</option>
                                        <option value="ZW">ZW - Zimbábue</option>
                                    </select>
                                </td>
                                <td class="campo">
                                    <select id="SGUFSHOS" name="SGUFSHOS" class="texto" title="Selecione a UF">
                                        <option value="" selected="selected">[Selecione...]</option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MG">MG</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NI">NI</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="PR">PR</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="RS">RS</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </td>
                                <td class="campo">
                                    <input type="text" id="DCCIDHOS" name="DCCIDHOS" required maxlength="40" size="20"
                                        class="texto" title="Informe a Cidade"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="NRTELHOS" class="titulo">Telefone</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="NRTELHOS" name="NRTELHOS" required maxlength="15" size="15"
                                        class="texto" title="Informe o Telefone"><br>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="AUUSUULTALT" class="titulo">Usuário</label>
                                </td>
                                <td>
                                    <label for="AUDATULTALT" class="titulo">Data de Alteração</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">
                                    <input type="text" id="AUUSUULTALT" name="AUUSUULTALT" required maxlength="30"
                                        size="15" class="texto" title="Informe o Usuário" readonly><br>
                                </td>
                                <td class="campo">
                                    <input type="datetime" id="AUDATULTALT" name="AUDATULTALT" required class="texto"
                                        title="Informe a Data de Alteração" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </fieldset>

            <script>
                function limparCampos() {
                    document.getElementById('CDHOS').value = '';
                    document.getElementById('DCHOS').value = '';
                    document.getElementById('NRLOGHOS').value = '';
                    document.getElementById('DCLOGHOS').value = '';
                    document.getElementById('NRCEPHOS').value = '';
                    document.getElementById('DCBAIHOS').value = '';
                    document.getElementById('DCCIDHOS').value = '';
                    document.getElementById('SGUFSHOS').value = '';
                    document.getElementById('CDPSIHOS').value = '';
                    document.getElementById('NRTELHOS').value = '';
                    document.getElementById('AUUSUULTALT').value = '';
                    document.getElementById('AUDATULTALT').value = '';
                }
            </script>

            <script>
                function excluirHospital() {
                    const selectedHospitalCode = document.getElementById('CDHOS').value;

                    if (!selectedHospitalCode) {
                        alert('Por favor, selecione um hospital antes de excluir.');
                        return;
                    }

                    const confirmation = confirm('Tem certeza que deseja excluir este hospital?');

                    if (confirmation) {
                        fetch(`/api/delete_hospital/${selectedHospitalCode}`, {
                            method: 'DELETE',
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Erro na requisição: ' + response.statusText);
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    alert('Hospital excluído com sucesso!');
                                    limparCampos();
                                } else {
                                    alert('Erro ao excluir hospital. Por favor, tente novamente.');
                                }
                            })
                            .catch(error => console.error('Erro na requisição:', error));
                    }
                }
            </script>


            <script>

                async function populateHospitalSelect() {
                    const selectElement = document.getElementById('CDHOS');

                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.text = '<Selecione o Código do Hospital>';
                    selectElement.add(defaultOption);

                    const response = await fetch('/api/hospitals');
                    const { success, hospitals } = await response.json();

                    if (success) {
                        hospitals.forEach(hospital => {
                            const option = document.createElement('option');
                            option.value = hospital.CDHOS;
                            option.text = `${hospital.CDHOS} - ${hospital.DCHOS}`;
                            selectElement.add(option);
                        });

                        document.getElementById('pesquisarButton').addEventListener('click', () => {
                            const selectedHospital = hospitals.find(hospital => hospital.CDHOS === selectElement.value);

                            document.getElementById('DCHOS').value = selectedHospital.DCHOS;
                            document.getElementById('NRLOGHOS').value = selectedHospital.NRLOGHOS || '';
                            document.getElementById('DCLOGHOS').value = selectedHospital.DCLOGHOS || '';
                            document.getElementById('NRCEPHOS').value = selectedHospital.NRCEPHOS;
                            document.getElementById('DCBAIHOS').value = selectedHospital.DCBAIHOS || '';
                            document.getElementById('DCCIDHOS').value = selectedHospital.DCCIDHOS;
                            document.getElementById('SGUFSHOS').value = selectedHospital.SGUFSHOS;
                            document.getElementById('CDPSIHOS').value = selectedHospital.CDPSIHOS || '';
                            document.getElementById('NRTELHOS').value = selectedHospital.NRTELHOS || '';
                            document.getElementById('AUUSUULTALT').value = selectedHospital.AUUSUULTALT;

                            const dataFormatada = formatarData(selectedHospital.AUDATULTALT);
                            document.getElementById('AUDATULTALT').value = dataFormatada;
                        });
                    } else {
                        console.error('Erro ao obter hospitais do servidor');
                    }
                }

                function formatarData(dataString) {
                    const data = new Date(dataString);
                    const dia = ('0' + data.getDate()).slice(-2);
                    const mes = ('0' + (data.getMonth() + 1)).slice(-2);
                    const ano = data.getFullYear();

                    return `${dia}/${mes}/${ano}`;
                }

                window.onload = populateHospitalSelect;
                function mostrarFormulario() {
                    const hospitalForm = document.getElementById('hospitalForm');
                    const resultadoForm = document.getElementById('resultadoForm');

                    if (hospitalForm.style.display !== 'none') {

                        resultadoForm.style.display = 'block';
                    }
                }
            </script>
            <script>
                async function atualizarHospital() {
                    const selectedHospitalCode = document.getElementById('CDHOS').value;
                    console.log('Código do Hospital Selecionado:', selectedHospitalCode);
                    if (!selectedHospitalCode) {
                        alert('Por favor, selecione um hospital antes de atualizar.');
                        return;
                    }

                    const data = {
                        CDHOS: selectedHospitalCode,
                        DCHOS: document.getElementById('DCHOS').value,
                        NRLOGHOS: document.getElementById('NRLOGHOS').value,
                        DCLOGHOS: document.getElementById('DCLOGHOS').value,
                        NRCEPHOS: document.getElementById('NRCEPHOS').value,
                        DCBAIHOS: document.getElementById('DCBAIHOS').value,
                        DCCIDHOS: document.getElementById('DCCIDHOS').value,
                        SGUFSHOS: document.getElementById('SGUFSHOS').value,
                        CDPSIHOS: document.getElementById('CDPSIHOS').value,
                        NRTELHOS: document.getElementById('NRTELHOS').value,
                        AUUSUULTALT: document.getElementById('AUUSUULTALT').value,
                        AUDATULTALT: formatarDataParaEnvio(document.getElementById('AUDATULTALT').value),
                    };

                    const confirmation = confirm('Tem certeza que deseja atualizar este hospital?');

                    function formatarDataParaEnvio(dataString) {
                    const partes = dataString.split('/');
                        if (partes.length === 3) {
                            const [dia, mes, ano] = partes;
                            return `${ano}-${mes}-${dia}`;
                        }
                        return dataString;
                    }


                    if (confirmation) {
                        try {
                            const response = await fetch('/api/update_hospital', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                            });

                            if (!response.ok) {
                                throw new Error('Erro na requisição: ' + response.statusText);
                            }

                            const result = await response.json();

                            if (result.success) {
                                alert('Hospital atualizado com sucesso!');
                            } else {
                                alert('Erro ao atualizar hospital. Por favor, tente novamente.');
                            }
                        } catch (error) {
                            console.error('Erro na requisição:', error);
                        }
                    }
                }
            </script>
        </form>
    </div>

</body>

</html>