<!DOCTYPE html>
<html>
<head>
    <title>Inserir Cargo</title>
</head>
<body>
    <h1>Inserir Cargo</h1>
    <form action="/inserir_cargo" method="post">
        <label for="nrcgo">NRCGO:</label>
        <input type="text" name="nrcgo" id="nrcgo" required><br><br>

        <label for="dccgo">DCCGO:</label>
        <input type="text" name="dccgo" id="dccgo" required><br><br>

        <label for="auusuultalt">AUUSUULTALT:</label>
        <input type="text" name="auusuultalt" id="auusuultalt" required><br><br>
        <label for="audatultalt">AUDATULTALT:</label>
        <input type="datetime" name="audatultalt" id="audatultalt" required><br>
        <button type="submit">Inserir Cargo</button>
    </form>
</body>
</html>
