/* sidebar.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #1e2f4a;
    padding-top: 20px;
    color: white;
}

#content {
    margin-left: 250px;
    padding: 16px;
    width: 100%;
}

#sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    
}

#sidebar a i {
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    width: 25px;
}

#sidebar a:hover {
    color: #6fa0ed;
    transition: 1 all;
}

.sidebar-link {
    background-color: #262d38;
    font-weight: bold;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    margin-top: 5vh;
    transform: translateY(-50%);
}

.container-barra-inicial {
    display: flex;
    width: auto;
    margin-top: 10px;
}

.barra-inicial {
    margin-left: auto;
}

.custom-icon {
    font-size: 30px;
    padding: 4px;
}

legend {
    font-size: 20px;
}

.texto {
    color: #2D7991;
    border-top: 1px solid #2D7991;
    border-left: 1px solid #2D7991;
    border-bottom: 1px solid #ADD8E6;
    border-right: 1px solid #ADD8E6;
    background: #e4ecf7;
    font-size: 15px;
}

.titulo {
    vertical-align: middle;
    padding: 2px;
    padding-right: 10px;
}

.input {
    width: '20%';
}

.secao {
    color: #3D4F57;
    border-top: 1px solid #EFF6FA;
    border-left: 1px solid #EFF6FA;
    border-bottom: 1px solid #A1C7DD;
    border-right: 0px solid #A1C7DD;
    background: #d0dbeb;
    font-size: 20px;
    height: 23px;
    vertical-align: middle;
    font-weight: bold;
    padding: 2px;
    padding-right: 10px;
}

input[readonly] {
    background-color: #d7d9db;
}

.td_lista_b{
width: 100%;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
font-family: verdana;
font-size: 11px;
font-style: normal;
font-weight: normal;
margin-top: 2px;
border-top: 1px solid #68AAC1;
border-left: 1px solid #68AAC1;
border-bottom: 1px solid #68AAC1;
border-right: 0px solid #68AAC1;
}

.linha{
CURSOR: HAND;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
font: 11px/ 13px verdana;
text-align: left;
vertical-align: middle;
padding: 2px 2px 2px 2px;
color: #333333;
border-top: 1px solid #68AAC1;
border-right: 1px solid #68AAC1;
}

td.linha {
    color: #333333;
    border-top: 1px solid #68AAC1;
    border-right: 1px solid #68AAC1;
}

table.lista {
    border-top: 1px solid #68AAC1;
    border-left: 1px solid #68AAC1;
    border-bottom: 1px solid #68AAC1;
    border-right: 0px solid #68AAC1;
}

table.lista {
    margin-top: 2px;
}

td.cabecalho {
    color: #58717C;
    border-top: 1px solid #E9F2F5;
    border-right: 1px solid #86BBCE;
    border-bottom: 1px solid #86BBCE;
    border-left: 1px solid #E9F2F5;
    background: #beccdf;
}
td.cabecalho {
    font: bold 11px/ 13px verdana;
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
    text-align: left;
    height: 20px;
}