/* sidebar.css */

:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #e96c6c;
    
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    
    --size-bezel: .5rem;
    --size-radius: 4px;
    
    line-height: 1.4;
    
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #4a1e1e;
    padding-top: 20px;
    color: white;
}

#content {
    margin-left: 250px;
    padding: 16px;
    width: 100%;
}


#sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
}

#sidebar a i {
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    width: 25px;
}

#sidebar a:hover {
    color: #ed6f6f;
    transition: 1 all;
}

.sidebar-link {
    background-color: #382626;
    font-weight: bold;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    margin-top: 5vh;
    transform: translateY(-50%);
}


.barra-inicial {
    margin: 20px;
}

button{
    filter: drop-shadow(1px 2px 3px rgb(0, 0, 0));
}

.custom-icon {
    font-size: 30px;
    padding: 4px;
}

legend {
    font-size: 20px;
}

fieldset {
    --color-background: var(--color-signal);
    --color-accent: var(--color-light);
    color: var(--color-dark); 
    background: var(--color-background);
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    margin: 20px;
}

legend{
    color: #01070c;
    font-weight: 900;
    border: 3px solid var(--color-shadow, currentColor);
    border-radius: var(--size-radius);
    background-color: #f13f3f;
}

.titulo {
    vertical-align: middle;
    padding: 2px;
    padding-right: 10px;
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
}

.texto {
    color: #221010;
    background: #eaf1fc;
    font-size: 15px;
    filter: drop-shadow(1px 1px 0.5px rgb(0, 0, 0));
}


.divisao{
    display: flex;
    justify-content: space-between;
    
}

option {
    background: no-repeat #803535;
    color: white;
    appearance: none;
}
